Checks:          '-*,llvm-*,clang-*,google-*,cppcoreguidelines-*,clang-diagnostic-*,clang-analyzer-*,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     'file'